:root {
  --header-color: #5d1a23;
  --accent-color: #8b3a4a;
  --main-color-1: #31436e;
  --main-color-2: rgb(22, 36, 64);
  --secondary-color: #1f262d;
  --deep-blue-sea-start: #002E5D;
  --deep-blue-sea-end: #2774AE;
  --text-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  box-sizing: border-box;
  font-family: "Patua One"
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  line-height: 1.2;
  overflow-x: hidden;
  color: var(--text-color);
}